[Unit]
Description=kle

[Service]
ExecStartPre=fuser -k 81/tcp
ExecStart=/home/bouncepaw/src/keyboard-layout-editor/deploy/authorization/server.py --client-id <client_id> --client-secret <client_secret> --port 81
ExecStopPost=fuser -k 81/tcp
Restart=on-failure

[Install]
WantedBy=multi-user.target

