/*!
 *  Combining Diacritical font, extracted rom Font Symbola
 * 
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'combining-diacritical';
  src:  url('../fonts/combining-diacritical.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.cd {
  display: inline-block;
  font: normal normal normal 14px/1 combining-diacritical;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}
/* makes the font 33% larger relative to the icon container */
.cd-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.cd-2x {
  font-size: 2em;
}
.cd-3x {
  font-size: 3em;
}
.cd-4x {
  font-size: 4em;
}
.cd-5x {
  font-size: 5em;
}
.cd-fw {
  width: 1.28571429em;
  text-align: center;
}
.cd-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.cd-ul > li {
  position: relative;
}
.cd-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}
.cd-li.cd-lg {
  left: -1.85714286em;
}
.cd-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.cd.pull-left {
  margin-right: .3em;
}
.cd.pull-right {
  margin-left: .3em;
}
.cd-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
.cd-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}
@-webkit-keyframes kb-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes kb-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.cd-rotate-90 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.cd-rotate-180 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.cd-rotate-270 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.cd-flip-horizontal {
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.cd-flip-vertical {
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}
:root .cd-rotate-90,
:root .cd-rotate-180,
:root .cd-rotate-270,
:root .cd-flip-horizontal,
:root .cd-flip-vertical {
  filter: none;
}
.cd-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.cd-stack-1x,
.cd-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.cd-stack-1x {
  line-height: inherit;
}
.cd-stack-2x {
  font-size: 2em;
}
.cd-inverse {
  color: #ffffff;
}
/* glyphs are mapped to standard Unicode locations */


.cd-_white-rectangle:before {
  content: "\25AD"; 
}

.cd-_dotted-circle:before {
  content: "\25CC"; 
}

.cd-Combining-Left-Right-Arrow-Below:before {
  content: "\25CC\034D"; 
}

.cd-Combining-Acute-Accent-Double:before {
content: "\030B"; 
}

.cd-Combining-AcuteAccent:before {
content: "\0301"; 
}

.cd-Combining-Acute-Tone-Mark:before {
content: "\0341"; 
}

.cd-Combining-Acute-Accent-Below:before {
content: "\0317"; 
}

.cd-Combining-Almost-Equal-To-Above:before {
content: "\034C"; 
}

.cd-Combining-Left-Angle-Above:before {
content: "\031A";
}

.cd-Combining-Comma-Above:before {
content: "\0313";
}

.cd-Combining-Inverted-Double-Arch-Below:before {
content: "\032B";
}

.cd-Combining-Asterisk-Below:before {
content: "\0359"; 
}

.cd-Combining-Latin-Small-Letter-A:before {
content: "\0363"; 
}

.cd-Combining-Long-Stroke-Overlay:before {
content: "\0336"; 
}

.cd-Combining-Short-Stroke-Overlay:before {
content: "\0335";
}

.cd-Combining-Inverted-Breve:before {
content: "\0311";
}

.cd-Combining-Inverted-Breve-Below:before {
content: "\032F";
}

.cd-Combining-Breve:before {
content: "\0306";
}

.cd-Combining-Breve-Below:before {
content: "\032E"; 
}

.cd-Combining Inverted Bridge Below:before {
content: "\033A"; 
}

.cd-Combining-Bridge-Below:before {
content: "\032A"; 
}

.cd-Combining-Candrabindu:before {
content: "\0310";
}

.cd-Combining-Bridge-Above:before {
content: "\0346"; 
}

.cd-Combining-Cedilla:before {
content: "\0327";
}

.cd-Combining-Circumflex-Accent:before {
content: "\0302"; 
}

.cd-Combining-Circumflex-Accent-Below:before {
content: "\032D"; 
}

.cd-Combining-Comma-Below:before {
content: "\0326"; 
}

.cd-Combining-Comma-Above-Right:before {
content: "\0315"; 
}

.cd-Combining-Turned-Comma-Above:before {
content: "\0312"; 
}

.cd-Combining-Latin-Small-Letter-C:before {
content: "\0368";
}

.cd-Combining-Reversed-Comma-Above:before {
content: "\0314"; 
}

.cd-Combining-Double-Rightwards-Arrow-Below:before {
content: "\0362"; 
}

.cd-Combining-Greek-Dialytika-Tonos:before {
content: "\0344"; 
}

.cd-Combining-Diaeresis:before {
content: "\0308"; 
}

.cd-Combining-Diaeresis-Below:before {
content: "\0324"; 
}

.cd-Combining-Dot-Above:before {
content: "\0307";
}

.cd-Combining-Dot-Above-Right:before {
content: "\0358"; 
}

.cd-Combining-Dot-Below:before {
content: "\0323"; 
}

.cd-Combining-Double-Breve-Below:before {
content: "\035C"; 
}

.cd-Combining-Double-Breve:before {
content: "\035D"; 
}

.cd-Combining-Double-Inverted-Breve:before {
content: "\0361"; 
}

.cd-Combining-Double-Macron-Below:before {
content: "\035F"; 
}

.cd-Combining-Double-Macron:before {
content: "\035E"; 
}

.cd-Combining-Double-Ring-Below:before {
content: "\035A";
}

.cd-Combining-Double-Tilde:before {
content: "\0360"; 
}

.cd-Combining-Latin-Small-Letter-D:before {
content: "\0369";
}

.cd-Combining-Equals-Sign-Below:before {
content: "\0347"; 
}

.cd-Combining-Latin-Small-Letter-E:before {
content: "\0364"; 
}

.cd-Combining-Fermata:before {
content: "\0352"; 
}

.cd-Combining-Double-Grave-Accent:before {
content: "\030F"; 
}

.cd-Combining-Grave-Tone-Mark:before {
content: "\0340"; 
}

.cd-Combining-Grave-Accent:before {
content: "\0300"; 
}

.cd-Combining-Grave-Accent-Below:before {
content: "\0316"; 
}

.cd-Combining-Caron:before {
content: "\030C";
}

.cd-Combining-Caron-Below:before {
content: "\032C"; 
}

.cd-Combining-Homothetic-Above:before {
content: "\034B";
}

.cd-Combining-Palatalized-Hook-Below:before {
content: "\0321"; 
}

.cd-Combining-Retroflex-Hook-Below:before {
content: "\0322";
}

.cd-Combining-Hook-Above:before {
content: "\0309"; 
}

.cd-Combining-Horn:before {
content: "\031B";
}

.cd-Combining-Latin-Small-Letter-H:before {
content: "\036A";
}

.cd-Combining-Greek-Ypogegrammeni:before {
content: "\0345"; 
}

.cd-Combining-Latin-Small-Letter-I:before {
content: "\0365";
}

.cd-Combining-Left-Arrowhead-Below:before {
content: "\0354"; 
}

.cd-Combining-Left-Angle-Below:before {
content: "\0349"; 
}

.cd-Combining-Left-Half-Ring-Above:before {
content: "\0351"; 
}

.cd-Combining-Double-Vertical-Line-Above:before {
content: "\030E";
}

.cd-Combining-Double-Vertical-Line-Below:before {
content: "\0348"; 
}

.cd-Combining-Vertical-Line-Above:before {
content: "\030D";
}

.cd-Combining-Vertical-Line-Below:before {
content: "\0329"; 
}

.cd-Combining-Macron:before {
content: "\0304"; 
}

.cd-Combining-Macron-Below:before {
content: "\0331"; 
}

.cd-Combining-Minus-Sign-Below:before {
content: "\0320";
}

.cd-Combining-Latin-Small-Letter-M:before {
content: "\036B";
}

.cd-Combining-Not-Tilde-Above:before {
content: "\034A"; 
}

.cd-Combining-Ogonek:before {
content: "\0328";
}

.cd-Combining-Latin-Small-Letter-O:before {
content: "\0366";
}

.cd-Combining-Double-Overline:before {
content: "\033F"; 
}

.cd-Combining-Overline:before {
content: "\0305"; 
}

.cd-Combining-Greek-Perispomeni:before {
content: "\0342"; 
}

.cd-Combining-Plus-Sign-Below:before {
content: "\031F"; 
}

.cd-Combining-Greek-Koronis:before {
content: "\0343"; 
}

.cd-Combining-Right-Arrowhead-Below:before {
content: "\0355"; 
}

.cd-Combining-Right-Arrowhead-Above:before {
content: "\0350"; 
}

.cd-Combining-Right-Half-Ring-Above:before {
content: "\0357"; 
}

.cd-Combining-Left-Half-Ring-Below:before {
content: "\031C";
}

.cd-Combining-Ring-Above:before {
content: "\030A"; 
}

.cd-Combining-Right-Half-Ring-Below:before {
content: "\0339"; 
}

.cd-Combining-Ring-Below:before {
content: "\0325"; 
}

.cd-Combining-Latin-Small-Letter-R:before {
content: "\036C";
}

.cd-Combining-Right-Arrowhead-And-Up-Arrowhead-Below:before {
content: "\0356"; 
}

.cd-Combining-Seagull-Below:before {
content: "\033C"; 
}

.cd-Combining-Long-Solidus-Overlay:before {
content: "\0338"; 
}

.cd-Combining-Short-Solidus-Overlay:before {
content: "\0337"; 
}

.cd-Combining-Square-Below:before {
content: "\033B"; 
}

.cd-Combining-Down-Tack-Below:before {
content: "\031E"; 
}

.cd-Combining-Left-Tack-Below:before {
content: "\0318";
}

.cd-Combining-Right-Tack-Below:before {
content: "\0319"; 
}

.cd-Combining-Up-Tack-Below:before {
content: "\031D"; 
}

.cd-Combining-Tilde-Overlay:before {
content: "\0334"; 
}

.cd-Combining-Tilde:before {
  content: "\0303"; text-align:center;
}

.cd-Combining-Tilde-Below:before {
content: "\0330"; text-align:center;
}

.cd-Combining-Vertical-Tilde:before {
content: "\033E"; 
}

.cd-Combining-Latin-Small-Letter-T:before {
content: "\036D";
}

.cd-Combining-Double-Low-Line:before {
content: "\0333"; 
}

.cd-Combining-Low-Line:before {
content: "\0332"; 
}

.cd-Combining-Upwards-Arrow-Below:before {
content: "\034E"; 
}

.cd-Combining-Latin-Small-Letter-U:before {
content: "\0367"; 
}

.cd-Combining-Latin-Small-Letter-V:before {
content: "\036E"; 
}

.cd-Combining-X-Below:before {
content: "\0353";
}

.cd-Combining-Latin-Small-Letter-X:before {
content: "\036F"; 
}

.cd-Combining-X-Above:before {
content: "\033D";
}

.cd-Combining-Zigzag-Above:before {
content: "\035B"; 
}

